# https://docs.docker.com/compose/environment-variables/env-file/
YOURLS_SITE=https://yourls.stb-host.de
YOURLS_USER=admin
YOURLS_PASS='YourSecurePassword'
YOURLS_DB_HOST=db
YOURLS_DB_PASS='YourSecurePassword'