# https://docs.docker.com/compose/environment-variables/env-file/
# add users: docker run --rm --entrypoint htpasswd httpd:2 -Bbn username password >> ./volumes/auth/.htpasswd
REGISTRY_HTTP_ADDR=0.0.0.0:5000
REGISTRY_AUTH_HTPASSWD_REALM=registry-realm
REGISTRY_AUTH_HTPASSWD_PATH=/auth/.htpasswd